body {
  background-image: -webkit-linear-gradient(90deg, #110513 0%, #100b19 100%);
}
.w3-top {
  top: 0;
}

.w3-top {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(
    rgba(11, 11, 11, 0.9),
    rgba(11, 11, 11, 0.9)
  );
}

.w3-bar {
  width: 100%;
  overflow: hidden;
}

.w3-bar .w3-button {
  white-space: normal;
}

.w3-identify-name {
  font-size: 20px;
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  font-weight: bold;
}

.w3-bar:before,
.w3-bar:after {
  content: "";
  display: table;
  clear: both;
}

.w3-white,
.w3-hover-white:hover {
  color: #fff;
}

.w3-wide {
  letter-spacing: 4px;
}

.w3-wide {
  letter-spacing: 4px;
}

.w3-padding {
  padding: 8px 16px !important;
}

.w3-card,
.w3-card-2 {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-right {
  float: right !important;
}

.w3-button:hover {
  color: #0da312;
  text-decoration: none;
}

@media (max-width: 600px) {
  .w3-hide-small {
    display: none !important;
  }
}

.w3-content,
.w3-auto {
  margin-left: auto;
  margin-right: auto;
}

.w3-container:after {
  content: "";
  display: table;
  clear: both;
}

.w3-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.w3-container,
.w3-panel {
  padding: 0.01em 16px;
}

.w3-border-light-grey {
  border-color: #f1f1f1 !important;
}

.w3-padding-16 {
  padding-top: 50px !important;
  padding-bottom: 16px !important;
}

.w3-border-bottom {
  border-bottom: 1px solid #ccc !important;
}

.h3,
h3 {
  font-size: 1.75rem;
}

.w3-row-padding {
  padding: 0 8px;
}

.w3-row-padding:before {
  content: "";
  display: table;
  clear: both;
}

.w3-row-padding > .w3-col {
  padding: 0 8px;
}

@media (min-width: 993px) {
  .w3-col.l3 {
    width: 24.99999%;
  }
}

.w3-margin-bottom {
  margin-bottom: 16px !important;
}

.w3-col {
  float: left;
}

.w3-display-container {
  position: relative;
}

.w3-black,
.w3-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.w3-padding {
  padding: 8px 16px !important;
}

.w3-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.w3-container:after,
.w3-container:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
  content: "";
  display: table;
  clear: both;
}

.w3-row-padding,
.w3-row-padding > .w3-col {
  padding: 0 8px;
}

.w3-col {
  float: left;
}

/* Start Footer */
.mkdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  background-image: linear-gradient(
    rgba(11, 11, 11, 0.9),
    rgba(11, 11, 11, 0.9)
  );
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 90px 0 40px;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner {
  box-sizing: border-box;
}

.mkdf-grid {
  width: 1100px;
  margin: 0 auto;
}

.mkdf-grid-row {
  margin-left: -15px;
  margin-right: -15px;
}

.mkdf-grid-row:after,
.mkdf-grid-row:before {
  content: " ";
  display: table;
}

.mkdf-grid-col-6 {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.mkdf-grid-col-6:after,
.mkdf-grid-col-6:before {
  content: " ";
  display: table;
}

.mkdf-page-footer .widget {
  color: #fff;
  margin: 0 0 32px;
}

.mkdf-page-footer .widget {
  color: #fff;
  margin: 0 0 32px;
}

.text-align-left {
  text-align: left;
}

.mkdf-page-footer
  .widget.mkdf-social-icons-group-widget.mkdf-circle-icons
  .mkdf-social-icon-widget-holder {
  color: #2e1365;
  width: 46px;
  height: 46px;
  -webkit-transition: 0.2s cubic-bezier(0.02, 0.54, 0.58, 1);
  -moz-transition: 0.2s cubic-bezier(0.02, 0.54, 0.58, 1);
  transition: 0.2s cubic-bezier(0.02, 0.54, 0.58, 1);
}

.mkdf-social-icons-group-widget.mkdf-circle-icons.mkdf-light-skin
  .mkdf-social-icon-widget-holder {
  color: #2e1365;
  background-color: #fff;
}

.mkdf-social-icons-group-widget.mkdf-circle-icons
  .mkdf-social-icon-widget-holder {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 0 7px;
  font-size: 17px;
  color: #444977;
  background-color: #fff;
  box-shadow: 0 10px 10px rgb(45 45 71 / 80%);
}

.mkdf-page-footer .widget {
  color: #fff;
  margin: 0 0 32px;
}

.mkdf-page-footer .mkdf-widget-title {
  color: #fff;
  margin: 9px 0 22px;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: bold;
}

.text-name {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.margin-bottom {
  margin-bottom: 50px;
}
