/* variable */
:root {
  --primary: #110513;
  --secondary: #100b19;
  --green: #0bf30b;
  --yellow: ##ffc107;
  --dark: ##343a40;
  --white: #ffffff;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

/* base style */
body {
  background-image: -webkit-linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
  overflow-x: hidden;
}

.vp-btn {
  background-color: none;
  border: 2px solid var(--green);
  color: var(--white);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.vp-btn:hover {
  color: var(--green);
}

/* fonts */

/* mobile styles */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    rgba(11, 11, 11, 0.9),
    rgba(11, 11, 11, 0.9)
  );
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.brand-title:hover {
 color: #0bf30b;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}


/* large tablets & labtop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}
